eclipse
gradle
build.gradle
CREDITS-fml.txt
forge-*-changelog.txt
gradlew*
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle
build
.classpath
.project
.settings
bin
config/
crash-reports/
logs/
options.txt
saves/
src/main/java/com/panicnot42/warpbook/Properties.java

*~
